$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px
);

@import "mq";

body {
  background: #f7f7f7; // TODO: Move colours into variable/theming files
  color: #3e3e3e; // TODO: Same as above
  text-align: center;

  .card-grid__container {
    display: flex;

    @include mq($from: mobile) {
        flex-wrap: wrap;
    }
  }

  .card-grid__card-item {
    padding: 24px;
    background: transparent;
    border: none;

    // Set flex-item properties here, different for each device breakpoint
    @include mq(mobile, tablet) {
        width: 50%;
    }

    @include mq(tablet, desktop) {
        width: 33%;
    }

    @include mq($from: desktop) {
        width: 25%;
    }
  }
}
