$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px
);
$spacing-unit: 8px;

@import "mq";
@import "./card-grid";
@import "./card-details";

body {
  background: #f7f7f7; // TODO: Move colours into variable/theming files
  color: #3e3e3e; // TODO: Same as above
  text-align: center;
  min-width: $spacing-unit * 40;
}
