.card-grid__container {
  display: flex;
  flex-wrap: wrap;
}

.card-grid__title-row {
  margin-top: $spacing-unit * 3;
  justify-content: center;
  flex-direction: row;
  flex-basis: 1;
  flex-basis: 100%;
}

.card-grid__filter-row {
    flex-direction: row;
    flex-basis: 100%;
    margin: $spacing-unit * 2;
}

.card-grid__card-item {
  padding: $spacing-unit * 3;
  background: transparent;
  border: none;

  @include mq($until: tablet) {
    width: 50%;
  }

  @include mq(tablet, desktop) {
    width: 33%;
  }

  @include mq($from: desktop) {
    width: 25%;
  }
}

.card-grid__no-cards-warning {
    width: 100%;
}

.card-grid__no-results-warning {
    width: 100%;
}
